<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
dashboard
    <p>
        <a href="/logout">Logout</a>
    </p>
<p><a href="/customers/all">see all customers</a></p>
<p><a href="/accounts/all">see all accounts</a></p>
<p><a href="/employers/all">see all employers</a></p>
</body>
</html>